.top-bar {
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  padding: 0.5rem 0;
  /*position: fixed; */
  top: 0;
  min-width: 100%;
  z-index: 1000;
  height: 50px;
  color: #000;
}
